Resources:
  AWSEBAutoScalingLaunchTemplate:
    Type: AWS::AutoScaling::LaunchTemplate
    Properties:
      LaunchTemplateName: "my-launch-template"
      LaunchTemplateData:
        InstanceType: t3.micro
        ImageId: ami-0d0c9d3480bcc0be0
        KeyName: my-key-pair
        SecurityGroups:
          - !Ref AWSEBSecurityGroup
        BlockDeviceMappings:
          - DeviceName: /dev/xvda
            Ebs:
              VolumeSize: 20
              VolumeType: gp3
